[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.11"
djangorestframework = "3.15.1"
django-cors-headers = "4.3.1"

[dev-packages]

[requires]
python_version = "3.11"
